:root {
  /* Colors */
  --main-bg-color: #21242A;
  /* Red */
  --alert-color: #C33C54;
  /* Yellow */
  --warn-color: #E9B44C
  /* Purple */
  --info-color: #7D82B8
  /* Cream */
  --main-detail-color: #F7C59F
}

html,
body {
  font-family:"Fira Code", monospace;
}

.s-custom {
  // display:flex;
  align-items:center;
  gap:32px;
}

.dev-tags {
  margin-top:10px;
  font-size:12px;
  gap:8px;
  padding-right:16px;
}

.dev-tags-block {
  margin-top:10px;
  gap:8px;
}

.dev-tags-block > kbd {
  margin-top:10px;
}

.contact {
  display:flex;
  flex-direction:column;
}

.name {
  margin-top:10px;
  margin-bottom:10px;
}
